@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url("./static/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("./static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url("./static/Inter-SemiBold.ttf") format("truetype");
}