/* Variables */
:root {
  --bg:#333333;
  --box-bg:#2B2B2B;
  --white:#FFFFFF;
  --sorting-bar:#C5FE93;
  --stop-btn: #fe93c3;
  --slider-bg:#F4F4F4;
  --slider-handler: var(--white);
  --slider-bg-unactive: #959595;
}

.range-slider {
  background-color: var(--slider-bg-unactive);
  border-radius: 20px;
  position: relative;
}

.range-slider-thumb {
  position: absolute;
  top: -4px;
  -webkit-appearance: none;
  background-color: var(--white);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
  cursor: ew-resize;
}
.range-slider-thumb:hover {
  box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.5);
}
.range-slider-thumb:active {
  box-shadow: 0 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.range-slider-fill {
  position: absolute;
  background-color: var(--slider-bg);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.range-slider-horizontal {
  height: 5px;
  width: 100%;
}

button {
  border: none;
  background: transparent;
  color: var(--white);
}

#btn-go {
  font-size: 1.5em;
  padding: 5px 10px;
  transition: color 0.2s ease-in-out;
}
#btn-go:hover {
  cursor: pointer;
  color: var(--stop-btn);
}
#btn-go:hover:not(.stop-btn) {
  color: var(--sorting-bar);
}

.select-section.algorithm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.select-section.algorithm button {
  margin: 5px;
  transition: opacity 0.2s ease-in-out;
  font-size: 20px;
}
.select-section.algorithm button:not(.selected) {
  opacity: 0.7;
}
.select-section.algorithm button:hover {
  opacity: 1;
}

.select-section {
  width: 80vw;
  max-width: 600px;
  background-color: var(--box-bg);
  border-radius: 10px;
  padding: 14px 20px;
  margin: 10px 0;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.slider p {
  color: var(--slider-bg);
  font-size: 16px;
}

label {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.select-section {
  transition: opacity 0.2s ease-in-out;
}
.select-section.disabled {
  opacity: 0.8;
}
.select-section.disabled:hover, .select-section.disabled label, .select-section.disabled div {
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  .select-section {
    width: calc(100vw - 40px);
    border-radius: 0;
    margin: 0;
    padding-bottom: 40px;
  }
}
#view {
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  justify-content: center;
  flex-shrink: 2;
  max-width: 600px;
  height: 40%;
}

.bar {
  background-color: var(--sorting-bar);
  position: relative;
  width: 20px;
  box-shadow: var(--sorting-bar) 0px 0px 10px;
  transition: left 0.2s ease-in-out;
  margin: 1px;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--white);
  height: 100vh;
  width: 100vw;
  transition: background-color 0.5s ease;
  overflow-x: hidden;
}

#content {
  height: 100vh;
}

.main-title {
  position: absolute;
  opacity: 0.4;
  top: 10px;
  left: 10px;
  z-index: 1000;
  animation: title-intro 1.5s ease-in-out;
}
.main-title h1 {
  margin: 0;
  font-size: 1.2rem;
}

[class*=section-] {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  margin: auto;
}

.section-view {
  height: 40%;
}

.section-run {
  height: 18%;
}

.section-settings {
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
  margin: auto;
}

#loading {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222023;
}

.nosel, .disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button.disabled {
  pointer-events: none;
  opacity: 0.2 !important;
}

@keyframes title-intro {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    top: 50%;
    left: 50%;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    top: 50%;
    left: 50%;
  }
  100% {
    transform: unset;
    top: 10px;
    left: 10px;
  }
}
footer {
  width: 100vw;
  padding: 40px 30px;
  background-color: var(--box-bg);
}
footer p {
  margin: 0;
  font-size: 1rem;
  color: var(--white);
}

a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

/*# sourceMappingURL=includes.css.map */
