
body {
  background-color: var(--bg);
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--white);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

#content {
  height: 100vh;
}

.main-title {
  position: absolute;
  opacity: .4;
  top: 10px;
  left: 10px;
  z-index: 1000;
  animation: title-intro 1.5s ease-in-out;
  h1 {
    margin: 0;
    font-size: 1.2rem;
  }
}

[class*="section-"] {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-view {
  height: 40%;
}

.section-run {
  height: 18%;
}
.section-settings {
  height: 40%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
}


#loading {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222023;
}

.nosel, .disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button.disabled {
  pointer-events: none;
  opacity: .2 !important;
}

@keyframes title-intro {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
    top: 50%;
    left: 50%;
  }
  80% {
    transform: translate(-50%, -50%) scale(1.5);
    top: 50%;
    left: 50%;
  }
  100% {
    transform: unset;
    top: 10px;
    left: 10px;
  }
}